<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_ppost_comment_path(@comment.ppost, @comment) %> |
<%= link_to 'Back', ppost_comments_path(@comment.ppost) %>
